#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

.highlight {
	background-image: linear-gradient(#ffd900, #ffd900);
	background-repeat: no-repeat;
	background-position: 0% 100%;
	background-size: 100% 2px;
	transition: background-size .5s, background-position .3s ease-in .5s;
}

.highlight:hover {
	background-size: 100% 100%;
	background-position: 0% 0%;
	transition: background-position .5s, background-size .3s ease-in .5s;
}

.active, .collapsible:hover {
  background-color: #5494ff;
} 

.content {
  padding: 0 18px;
  max-height: 0;
  margin: auto;
  width: 50%;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  text-align: left;
}

.collapsible {
  position: relative;
  background-color: #448aff;
  border: none;
  font-size: 15px;
  color: #FFFFFF;
  padding: 18px;
   width: 50%; 
  text-align: left;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

/* After selector allows click animation(ripple) with a lighter shade of the current button. */
.collapsible:after {
  content: "";
  background: #5494ff;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

/* Active selector allows effect to take place onclick with specific opacity. */
.collapsible:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

#emailAnswers {
  text-align: center;
}